@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Camicard S,A<br />
    15Av 0-45 Zona3<br />
    <abbr title="Telefono 77611596"></abbr>
</address>

<address>
    <strong>Soporte Tecnico:</strong> <a href="mailto:Support@example.com">bmonterrosoalvarado@gmail.com</a><br />
    <strong>Diseño:</strong> <a href="mailto:Marketing@example.com">by_ariel@udeo.edu.gt</a>
</address>
